ion-grid
{
  margin-top: 15vw;
}

.img-main
{
  overflow: hidden;
  width: 70vw;
  height: 70vw;
}

.img-logo
{
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
  border: 3px solid #f4f4f4;
}

.overlapped-btn
{
  position: relative;
  top: -15vw;
}

.overlapped-btn:hover
{
  background-color: color($colors, light)!important;
}

.text-primary
{
  position: relative;
  top: -15vw;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  line-height: 150%;
}
