page-menu
{
  padding: 0vw;
  background-color: color($colors, light);
}

ion-grid
{
  margin-top: 15vw;
}

.img-menu
{
  overflow: hidden;
  margin-left: 1vw;
  height: 40vw;
  width: 40vw;
  border-radius: 50%;
  border: 2px solid white;
}

.text-menu
{
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
}

.element
{
  padding: 0vw;
}

.overlapped-btn-element
{
  top: -6vw;
  position: relative;
  width: 10vw;
  height: 10vw;
  display: block;
  margin: 0vw auto;
  border-radius: 50%;
  background-color: color($colors, primary);
}

.overlapped-btn-element:hover
{
  background-color: color($colors, light)!important;
}


