.background
{
  padding: 0vw;
}

.element-menu
{
  border: none;
  background-color: color($colors, primary);
}

.img-menu
{
  overflow: hidden;
  margin-left: 1vw;
  height: 40vw;
  width: 40vw;
  border-radius: 50%;
  border: 2px solid white;
}

.img-menu-right
{
  margin-left: 3vw;
}

.text-menu
{
  color: white;
  font-family: "Open Sans", sans-serif;
}

.text-menu-right
{
  margin-left: 3vw;
}

.text-menu-left
{
  margin-left: 3vw;
}

.overlapped-btn-element
{
  top: -8vw;
  position: relative;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: color($colors, light);
}

.overlapped-btn-element-right
{
  padding-left: 3vw;
  margin-left: 4vw;
}
